@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: #f7f7e8;
}

.card-body {
  background-color: #c7cfb7;
}

.card-header {
  background-color: #557174;
}

#jumbo {
  background-color: #557174;
}

.list-group-item {
  background-color: #f7f7e8;
}
